# Python cache files
__pycache__/
*.pyc

# Virtual environment
myenv/

# Dataset files
Dataset.zip
processed_dataset/
Output images/

# Log files
*.log

# Jupyter Notebook checkpoints
*.ipynb_checkpoints
# Training data
*.npy

# Sensitive files
admin-data.json

# Excel files
*.xlsx

# Jupyter notebooks
*.ipynb

Dataset/
crop.py
