# Python cache files
__pycache__/
*.pyc

# Virtual environment
myenv/

# Dataset files
Dataset.zip
processed_dataset/
Output images/

# Log files
*.log

# Jupyter Notebook checkpoints
*.ipynb_checkpoints

# Model files
facenet_model.pth

Dataset/
crop.py